/*
================
 Debug pipeline
================
*/


params {
	fqs = "$baseDir/test_data/**.gz"
	transcriptome = "$baseDir/test_data/c.elegans.cdna.ncrna.fa"
	output = "debug-${params.timestamp}"
	multiqc = "$baseDir/multiqc"
	fragment_len = '250'
	fragment_sd = '50'
	bootstrap = '100'
	experiment = "$baseDir/experiment_info.txt"
}
